In [2]:
import pandas as pd
df = pd.read_csv("processed.csv")
df = df.drop(columns=['Unnamed: 0'])

In [6]:
from collections import Counter

In [3]:
df

                                                   Text  Spam
0     subject naturally irresistible your corporate ...     1
1     subject the stock trading gunslinger fanny is ...     1
2     subject unbelievable new homes made easy im wa...     1
3     subject 4 color printing special request addit...     1
4     subject do not have money get software cds fro...     1
...                                                 ...   ...
5723  subject re research and development charges to...     0
5724  subject re receipts from visit jim thanks agai...     0
5725  subject re enron case study update wow all on ...     0
5726  subject re interest david please call shirley ...     0
5727  subject news aurora 5 2 update aurora version ...     0

[5728 rows x 2 columns]

In [ ]:
def build_vocab(text,max_vocab_size=10000):
    words = " ".join(texts).split()
    freq = Counter(words)
    vocab = {'<PAD>':0,"<UNK>":1}
    for idx, (word,_) in enumerate(freq.most_common(max_vocab_size - 2),start = 2)  :
        vocab[word] = idx
    return vocab

In [ ]:
vocab = build_vocab(df['Text'])